* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #F8F8F8;
}

.header {
    width: 100%;
    height: 14vh;
    font-family: 'Open Sans', sans-serif;
}

.inner__header {
    width: 100%;
    height: 40%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
}

.logo {
    width: 8%;
    height: 100%;
    margin-left: 8%;
    margin-right: 5%;
}

.logo img {
    width: 100%;
    height: 100%;
}

.header_items:hover {
    background-color: #3664C9;
    color: #fff;
    border-radius: 4px;
    border: 1px solid #000;
}

.header_menu_container {
    width: 53%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header_items {
    padding: 1%;
    border: 1px solid #fff;
    text-decoration: none;
    color: #000;
    margin: 0 3%;
}

.header_contacts {
    width: 20%;
    display: flex;
    margin-left: 5%;
    flex-direction: row;
    align-items: center;
}

.header_contacts a:hover {
    color: #fff;
    background-color: #1E6BDE;
}

.header_contacts a {
    padding: 2% 5%;
    border-radius: 4px;
    border:#000 1px solid;
    color: #1E6BDE;
    text-decoration: none;
    margin-right: 5%;
}

.header_contacts img {
    width: 10%;
    height: 70%;
    margin-left: 1%;
    margin-right: 3%;
}

.header__menu {
    width: 100%;
    height: 50%;
    background: linear-gradient(264.51deg, #001996 0%, #1E6BDE 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header__menu form {
    width: 50%;
    height: 60%;
    margin-left: 8%;
    display: flex;
}

.header__menu form input {
    width: 100%;
    height: 100%;
    border-radius: 8px 0 0 8px;
    background: rgba(255, 255, 255, 0.158);
    border: 0px;
}

.header__menu form input:focus {
    outline: none;
}

.header__menu form input::placeholder {
    color: #fff;
}

.header__menu form input[type=text] {
    padding-left: 5%;
    color: #fff;
}

#search {
    background: rgba(255, 255, 255, 0.158);
    border-radius: 0 8px 8px 0;
    border: 0;
    padding-right: 3%;
    margin-right: 2%;
}

#search:focus {
    outline: none;
}

.header__menu a {
    margin-left: 1%;
}


.cart {
    width: 7%;
    margin-left: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cart img {
    width: 25%;
    height: 100%;
    margin-right: 10%;
}

.cart .total_amount_to_pay {
    width: 60%;
    color: #fff;
}


.slider{
    max-width: 70%;
    position: relative;
    margin: auto;
    height: 50vh;
    margin-bottom: 15px;
}

.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 50vh;
    border-radius: 8px;
    border: none !important;
    box-shadow: none !important;
}

.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

.slider-dots {
    text-align: center;
}

.slider-dots_item{
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: #ddd;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
    background-color: #aaa;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.main_container {
    width: 70vw;
    margin: 3% auto;
    font-family: 'Roboto', sans-serif;
}

.main__container__content {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.nav_bar {
    width: 20%;
}

.nav_bar_header {
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    color: #1E6BDE;
}

.category_header {
    width: 90%;
    display: flex;
    align-items: center;
}

.category_header h5 {
    width: 70%;
    padding-left: 10%;
    font-size: 12pt;
}

.category_header {
     width: 60%;
     border-radius: 4px;
     border: 1px solid #828282; 
     margin-bottom: 5%;
}

.category_header img {
    margin-right: 10%;
}

.category ul {
    list-style-type: none;
    display: block;
    transition: ease-in 2ms;
}

.category ul li{
    margin: 5%;
    margin-left: 10%;
}

ul.hidden {
    transition: ease-out 2ms;
    display: none;
}

.prdoucts_container {
    width: 80%;
    height: 100%;
}

.products {
    width: 100%;
    height: 120vh;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #E4E4E4;
    margin-bottom: 5%;
}

.products_row {
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
}

.product_unit {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    padding: 1.8%;
}

.product_unit.not_available {
    opacity: 0.6;
}

.unit_header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.unit_header .status {
    height: 3vh;
    text-align: center;
    line-height: 3vh;
    color: #fff;
    border-radius: 85px;
    padding: 1% 8%;
    font-weight: 300;
}

/* Statuses of product */

.unit_header .status.sale {
    background-color: #3664C9;
}

.unit_header .status.limited {
    background-color: #FF9800;
}

.unit_header .status.best_seller {
    background-color: #3FB773;
}

.product_unit h6 {
    color: #828282;
    font-size: 8pt;
}

.product_unit .availability {
    text-align: center;
    margin-bottom: 5%;
    font-weight: 200;
}

.product_unit .availability.available {
    color: #3FB773;
}

.product_unit .availability.not_available {
    color: #D70B0B;
}

.product_unit img {
    width: 90%;
    height: 40%;
    object-fit: contain;
    margin-bottom: 5%;
}

.product_unit .product_name {
    width: 90%;
    height: 5%;
    padding: 1%;
    margin-bottom: 5%;
    font-weight: 900;
}

.product_unit .price {
    width: 90%;
    height: 5%;
    padding: 1%;
    color: #1E6BDE;
    margin-bottom: 7%;
    font-weight: 900;
}

/* .product_unit .price.sale span{
    text-decoration: line-through;
    color: #D70B0B;
} */

.product_unit button {
    width: 90%;
    height: 10%;
    background-color: #FFBA07;
    border: none;
    border-radius: 8px;
    color: #fff;
    padding: 2% 0;
    margin: 0 auto;
    margin-bottom: 5%;
    font-size: 12pt;
    font-weight: 500;
    transition: 2ms;
    cursor: pointer;
}

.product_unit.not_available button {
    background-color: #919191;
}

.product_unit button:hover {
    background-color: #FFAA07;
    box-shadow: 0 0 10px rgba(133,141,145,0.5);
}

.product_unit.not_available button:hover {
    background-color: #909090;
}

.product_unit button:focus {
    outline: none;
}

.show_more {
    width: 20%;
    height: 3%;
    color: #fff;
    border-radius: 8px;
    background-color: #1E6BDE;
    padding: 1%;
    margin: 5% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.paginator {
    width: 35%;
    height: 5%;
    margin: 0 auto;
    display: flex;
}

.paginator a {
    width: 20vw;
    height: 4vh;
    margin: 1%;
    border: #EBEBEB 1px solid;
    border-radius: 8px;
    background-color: #fff;
    color: #919191;
    text-decoration: none;
    text-align: center;
    line-height: 4vh;
}

.paginator a.current_page {
    background-color: #1E6BDE;
    color: #fff;
}

.paginator a:first-child,
.paginator a:last-child {
    color: #909090;
    background: none;
    border: none;
}

.paginator a:first-child {
    margin-right: 5%;
}

.paginator a:last-child {
    margin-left: 5%;
}

footer {
    height: 30vh;
    background-color: #333333;
    display: flex;
    justify-content: space-around;
}

footer.general_data {
    width: 15%;
    height: 100%;
    margin-left: 10%;
    border-right: #fff 1px solid;
}

.pages_of_site {
    width: 30%;
    height: 100%;
}

.pages_of_site_container {
    display: flex;
}

footer.social_networks {
    margin-right: 10%;
}